In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aradh\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\aradh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aradh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aradh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aradh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\aradh\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
dataset={ 
'refund':["yes","no","no","yes","no","no","yes","no","no","no"],
    'Marital Status':["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    'Taxable Income':["12k","34k","100k","40k","79k","2k","10k","40k","124k","450k"],
    'cheat':["no","no","no","no","yes","no","no","no","yes","no"]
}

mydata=pd.DataFrame(dataset)
mydata

C:\Users\aradh\AppData\Local\Temp\ipykernel_5424\594364868.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

  refund Marital Status Taxable Income cheat
0    yes         Single            12k    no
1     no        Married            34k    no
2     no         Single           100k    no
3    yes        Married            40k    no
4     no       Divorced            79k   yes
5     no        Married             2k    no
6    yes       Divorced            10k    no
7     no         Single            40k    no
8     no        Married           124k   yes
9     no         Single           450k    no

In [8]:
print(mydata.loc[0,4,7,8)

refund               yes
Marital Status    Single
Taxable Income       12k
cheat                 no
Name: 0, dtype: object

In [10]:
import pandas as pd


file_path = "C:/Users/aradh/OneDrive/Desktop/mca study material/semester 2/BIG DATA/data.csv"
readfile = pd.read_csv(file_path)


readfile.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0